<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436854975090-b9u71nrhcdqltfklq9v73i5r17nmh9l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436854975090-b9u71nrhcdqltfklq9v73i5r17nmh9l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIP2OwnQQGGoI-Y-Mb93QPQmUlEADT0g</string>
	<key>GCM_SENDER_ID</key>
	<string>436854975090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kr.ulsan14u.jobForYou</string>
	<key>PROJECT_ID</key>
	<string>job-for-you-3ac40</string>
	<key>STORAGE_BUCKET</key>
	<string>job-for-you-3ac40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436854975090:ios:e5b54f63fcc535f4db70eb</string>
</dict>
</plist>